<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/products">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
  </nav>
  <h1 class="my-3">Product add</h1>
  <form class="w-75" >
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Name"
      /><br />
      <span style="color: red" *ngIf="">Name is required</span>
      <span style="color: red" *ngIf="">Name must be least 3 characters long</span>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        class="form-control"
        formControlName="price"
        placeholder="Price"
      /><br />
      <span style="color: red" *ngIf="">Price is required</span>
      <span style="color: red" *ngIf="">Price must be interger</span>
    </div>
    <div class="form-group">
      <label for="img">Image</label>
      <!-- <input
        type="text"
        id="img"
        class="form-control"
        formControlName="img"
        placeholder="Image"
        [(ngModel)]="imageURL" 
        (ngModelChange)="displayImage()"
      /><br /> -->
      <!-- <img [src]="imageURL" *ngIf="imageURL" class="rounded" width="100px" height="100px" alt=""> -->
      <input
        type="text"
        id="img"
        class="form-control"
        formControlName="img"
        placeholder="Image"
      /><br />
      <span style="color: red" *ngIf="">Image is required</span>
    </div>
    <button type="submit" class="btn btn-primary" >
      Submit
    </button>
  </form>
  