<div class="container">
   
    <h1>Register</h1>
    <form >
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" id="username">
            
          </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="email">
          
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" id="password">
        </div>
        <div class="form-group">
          <label for="repeatpassword">Repeat password</label>
          <input type="repeatpassword" formControlName="repeatpassword" class="form-control" id="repeatpassword">
        </div>
        <div class="form-group">
            <input type="hidden" formControlName="role" value="admin" class="form-control" id="role">
          </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>