<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello!</h1>
        <p class="lead">This is a simple hero unit,  a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p><a routerLink="signin">Login</a> of <a routerLink="signup">signup</a> is here</p>
        <a class="btn btn-primary btn-lg" routerLink="/admin" role="button">Learn more</a>
    </div>
    <div class="row" ngClass="product-list">
        <div class="col my-5" >
            <div class="card" >
                <img src="" height="350px" alt="...">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="text-danger card-text">$</p>
                  <a href="" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
        </div>
    </div>
    </div>